# Dependencies
/node_modules

# Next.js build output
/.next/

# Testing / coverage
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs & debug
.pnpm-debug.log*
*.log

# Environment variables
.env*
!.env.example

# Misc / secrets
*.pem